.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 45px;
    height: 100px;
}

.music {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.favorite {
    height: 50px;
    display: flex;
    align-items: center;
}

.favorite input {
    display: none;
}

.favorite label {
    cursor: pointer;
}
