.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container_search {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.container_menu {
  display: flex;
  flex-direction: column;
}

.input_search {
  width: 70%;
}

.button_search {
  width: 20%;
}

.container_cards {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 85vw;
}

.container_cards::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-top: 30px;
}

.image_cards {
  margin: 30px 15px 10px;
  width: 150px;
}

.titles_cards {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  text-align: center;
  width: 150px;
}

.container_button {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
  width: 100px;
}

.container_button button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 45px;
  width: 45px;
}

.container_button button:active {
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
