:root {
  --main-color: #CACACA;
  --secondary-color: #202022;
  --accent-color: #a0a0a0;
  --color-1: #12e497;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Ember Condensed Heavy", "Ember Condensed Heavy Epic", Helvetica, Arial, "sans-serif"; /*mudar a fonte */
}

h1, h2, h3 {
  margin-bottom: 24px;
}

body {
  background-color: var(--main-color);
}
